body{
  text-align: center;
  font-family: Helvetica;
  background-color: White;
}
#main_header {
  font-size: 70px;
  font-weight: bold;
}
.top_block {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
.main_list{
  font-size: 18px;

}
h2 {
  font-weight: bold;
  font-size: 32px;
}
.process_titles{
  font-size: 23px;
  font-weight: bold;
}
.process_notes{
  font-size: 14px;
}
#sub_header{
  font-size: 23px
  color: White;
}
#footer{
  font-size: 11px;
  color: White;
  background-color: dimgray;
  text-align: left;
}
a{
  text-decoration: underline;
  color: White;
}
